EIO:CFG_1.0:5:60::
#
EIO_BUS:

      -Name "Virtual1" -ConnectorID "SIM1"

      -Name "DeviceNet1" -BusType "DNET" -ConnectorID "PCI1"\
      -ConnectorLabel "First DeviceNet"

      -Name "Profibus_FA1" -BusType "PBUS" -ConnectorID "FA1"\
      -ConnectorLabel "PROFIBUS-DP Fieldbus Adapter"
#
EIO_UNIT_TYPE:

      -Name "Virtual" -VendorName "ABB" -ProductName "Virtual unit"

      -Name "DN_GENERIC" -BusType "DNET" -DN_VendorId 0 -DN_ExplicitMsgEnabled \
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "DN_GENERIC_COS" -BusType "DNET" -DN_VendorId 0\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize -1\
      -DN_C1InputSize -1

      -Name "d651" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Combi Unit" -DN_ProductCode 25 -DN_DeviceType 100\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 5\
      -DN_C1InputSize 1

      -Name "d652" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "24 VDC Unit" -DN_ProductCode 26 -DN_DeviceType 7\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 2\
      -DN_C1InputSize 2

      -Name "d653" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Relay Unit" -DN_ProductCode 27 -DN_DeviceType 7\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 1\
      -DN_C1InputSize 1

      -Name "DN_SLAVE" -BusType "DNET" -VendorName "ABB Robotics" -DN_VendorId 8\
      -DN_ProductCode 12 -DN_DeviceType 12 -DN_ExplicitMsgEnabled \
      -DN_C1Interval 50 -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "DN_INTERNAL_SLAVE" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Internal DeviceNet Slave" -InternalSlave  -DN_C1OutputSize 8\
      -DN_C1InputSize 8

      -Name "DN_SLAVE_COS" -BusType "DNET" -VendorName "ABB Robotics"\
      -DN_VendorId 8 -DN_ProductCode 12 -DN_DeviceType 12\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 8\
      -DN_C1InputSize 8

      -Name "DN_INTERNAL_SLAVE_COS" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Internal DeviceNet Slave (COS)" -InternalSlave \
      -DN_C1Type "COS" -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "d351B" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "IBS Adapter" -DN_ProductCode 7 -DN_DeviceType 7\
      -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "d378A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "CCLink Adapter" -DN_ProductCode 17 -DN_DeviceType 7\
      -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Interval 50\
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "AC500_PLC" -BusType "DNET" -VendorName "ABB Stotz"\
      -ProductName "AC500 PLC - FPB" -DN_VendorId 760 -DN_ProductCode 1\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize -1\
      -DN_C1InputSize -1

      -Name "DN_SLAVE_FA" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Fieldbus Adapter Slave" -DN_ProductCode 98\
      -DN_DeviceType 12 -DN_MajorRev 2 -DN_MinorRev 1 -DN_ExplicitMsgEnabled \
      -DN_C1Type "COS" -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "DP_INTERNAL_SLAVE_FA" -BusType "PBUS" -VendorName "ABB Robotics"\
      -ProductName "PROFIBUS-DP Fieldbus Adapter Slave" -InternalSlave \
      -PB_ProductId 6161 -PB_InputSize 28 -PB_OutputSize 28
#
EIO_UNIT:

      -Name "FAKE_BOARD" -UnitType "Virtual" -Bus "Virtual1"

      -Name "PB_SLAVE" -UnitType "DP_INTERNAL_SLAVE_FA" -Bus "Profibus_FA1"\
      -PB_Address 21
#
EIO_SIGNAL:

      -Name "doMaschineBeladen" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "11"\
      -Access "All"

      -Name "diGripperOpened" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "0"\
      -Access "Default"

      -Name "diGripperClosed" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "1"\
      -Access "Default"

      -Name "diSpcBelt" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "10"\
      -Access "All"

      -Name "doSpcBelt" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "10"\
      -Access "All"

      -Name "DI_Feeder1InPosition" -SignalType "DI" -Unit "PB_SLAVE"\
      -UnitMap "8"

      -Name "DI_Feeder2InPosition" -SignalType "DI" -Unit "PB_SLAVE"\
      -UnitMap "9"

      -Name "DI_SensorUmgreifstation" -SignalType "DI" -Unit "PB_SLAVE"\
      -UnitMap "10"

      -Name "diFreigabeBeladen" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "64"\
      -Category "Map" -Access "Default"

      -Name "diClampAOpen" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "65"\
      -Category "Map"

      -Name "diClampAClose" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "66"\
      -Category "Map"

      -Name "diNIOClampAB" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "67"\
      -Category "Map" -Access "Default"

      -Name "diGrundstellung" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "68"

      -Name "diClampBOpen" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "69"\
      -Category "Map"

      -Name "diClampBClose" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "70"\
      -Category "Map"

      -Name "diErrClampA" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "71"\
      -Category "Map"

      -Name "diErrClampB" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "72"\
      -Category "Map"

      -Name "diSPCCycle" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "73"\
      -Category "Map" -Access "Default"

      -Name "diEmptyCycle" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "74"\
      -Category "Map" -Access "Default"

      -Name "diTurmatHand" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "75"

      -Name "diTurmatAuto" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "76"

      -Name "sdiMotOn" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "160"

      -Name "sdiMotOnStart" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "161"

      -Name "sdiMotOff" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "162"

      -Name "sdiLoadStart" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "163"

      -Name "sdiInterrupt" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "164"

      -Name "sdiStart" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "165"

      -Name "sdiStartMain" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "166"

      -Name "sdiStop" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "167"

      -Name "sdiQuickStop" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "168"

      -Name "sdisoftStop" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "169"

      -Name "sdiStopEndCycle" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "170"

      -Name "sdiStopEndInstr" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "171"

      -Name "sdiResetExecError" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "172"

      -Name "sdiResetEMError" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "173"

      -Name "sdiRestart" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "174"

      -Name "sdiLoad" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "175"

      -Name "EntryRequest" -SignalType "DI" -Unit "PB_SLAVE" -UnitMap "200"

      -Name "dig_PgCode" -SignalType "GI" -Unit "PB_SLAVE" -UnitMap "208-223"

      -Name "dig_PgNr" -SignalType "GI" -Unit "PB_SLAVE" -UnitMap "96-127"

      -Name "LoaderOut" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "64"\
      -Access "INTERNAL"

      -Name "doTurnGripperStraight" -SignalType "DO" -Unit "PB_SLAVE"\
      -UnitMap "0"

      -Name "doTurnGripperCross" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "1"

      -Name "doGripperOpen" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "2"\
      -Access "Default"

      -Name "doGripperClose" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "3"\
      -Access "Default"

      -Name "DO_RunFeeder1" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "8"

      -Name "DO_RunFeeder2" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "9"

      -Name "DO_Umgreifstation" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "10"

      -Name "doClampAOpen" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "65"\
      -Category "Map"

      -Name "doClampAClose" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "66"\
      -Category "Map"

      -Name "doPartInClampA" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "67"

      -Name "doClampBOpen" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "69"\
      -Category "Map"

      -Name "doClampBClose" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "70"\
      -Category "Map"

      -Name "doPartInClampB" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "71"

      -Name "sdoAutoOn" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "160"

      -Name "sdoSimulatedIO" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "161"

      -Name "sdoCycleOn" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "162"

      -Name "sdoEMStop" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "163"

      -Name "sdoExecError" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "164"

      -Name "sdoMotorOffState" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "165"

      -Name "sdoMotorOnState" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "166"

      -Name "sdoMotorOff" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "167"

      -Name "sdoMotorOn" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "168"

      -Name "sdoMotionSupOn" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "169"

      -Name "sdoMotionSupTrig" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "170"

      -Name "sdoPowerFail" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "171"

      -Name "sdoPathReturnError" -SignalType "DO" -Unit "PB_SLAVE"\
      -UnitMap "172"

      -Name "sdoRunChainOk" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "173"

      -Name "sdoMechanicActive" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "176"

      -Name "sdoTaskExecuting" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "177"

      -Name "sdoMechanicNotMoving" -SignalType "DO" -Unit "PB_SLAVE"\
      -UnitMap "178"

      -Name "sdoProductionError" -SignalType "DO" -Unit "PB_SLAVE"\
      -UnitMap "179"

      -Name "doProgRunning" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "183"

      -Name "EntryGranted" -SignalType "DO" -Unit "PB_SLAVE" -UnitMap "200"

      -Name "dog_PgCode" -SignalType "GO" -Unit "PB_SLAVE" -UnitMap "208-223"

      -Name "dog_PgNr" -SignalType "GO" -Unit "PB_SLAVE" -UnitMap "96-127"

      -Name "DOF_Coord" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "0"\
      -Access "All"

      -Name "DOF_MotSupTrigg" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "1"\
      -Access "All"

      -Name "DOF_Error" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "2"\
      -Access "All"

      -Name "DOF_CycleEnded" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "3"\
      -Access "All"

      -Name "DOF_EndCycle" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "4"\
      -Access "All"

      -Name "DOF_CycleOn" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "5"\
      -Access "All"

      -Name "DOF_ResetEStop" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "6"\
      -Access "All"

      -Name "DOF_AutoOn" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "7"\
      -Access "All"

      -Name "DOF_AtHome" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "8"\
      -Access "INTERNAL"

      -Name "DOF_SafeZone" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "9"\
      -Access "INTERNAL"

      -Name "DOF_MotorsOn" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "10"\
      -Access "All"

      -Name "DOF_StartAtMain" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "11"\
      -Access "All"

      -Name "DOF_StopEndInstr" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "12"\
      -Access "All"

      -Name "DOF_MotOnStart" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "13"\
      -Access "All"

      -Name "DOF_EntryReqSig" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "14"\
      -Access "All"

      -Name "DOF_AutoStop_Ok" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "15"\
      -Access "All"

      -Name "DOF_RunFeeder1" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "16"\
      -Access "All"

      -Name "DOF_RunFeeder2" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "17"\
      -Access "All"

      -Name "DOF_RunFeeder3" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "18"\
      -Access "All"

      -Name "DOF_RunFeeder4" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "19"\
      -Access "All"

      -Name "DOF_InPosition1" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "20"\
      -Access "All"

      -Name "DOF_InPosition2" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "21"\
      -Access "All"

      -Name "DOF_InPosition3" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "22"\
      -Access "All"

      -Name "DOF_InPosition4" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "23"\
      -Access "All"

      -Name "DOF_EmergencyStop" -SignalType "DO" -Unit "FAKE_BOARD"\
      -UnitMap "24" -Access "All"

      -Name "DOF_EntryRsp" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "25"\
      -Access "All"

      -Name "DOF_EntryRequest" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "26"\
      -Access "All"

      -Name "DOF_LoaderOut" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "27"\
      -Access "INTERNAL"

      -Name "AutomaticStrtOk" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "28"\
      -Access "All"

      -Name "AutomaticStrtNok" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "29"\
      -Access "All"

      -Name "CycleStopOk" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "30"\
      -Access "All"

      -Name "CycleStopNok" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "31"\
      -Access "All"

      -Name "SelectIdOk" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "32"\
      -Access "All"

      -Name "SelectIdNok" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "33"\
      -Access "All"

      -Name "AutomaticStart" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "34"\
      -Access "All"

      -Name "CycleStop" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "35"\
      -Access "All"

      -Name "SelectId" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "36"\
      -Access "All"

      -Name "SelectIdCam1" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "37"\
      -Access "All"

      -Name "SelectIdCam2" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "38"\
      -Access "All"

      -Name "SelectIdCam3" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "39"\
      -Access "All"

      -Name "SelectIdCam4" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "40"\
      -Access "All"

      -Name "DOF_InitPVCom" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "41"\
      -Access "All"

      -Name "SetTempStart" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "42"\
      -Access "All"

      -Name "TempStart" -SignalType "DI" -Unit "FAKE_BOARD" -UnitMap "43"\
      -Access "All"

      -Name "dofP4" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "44"\
      -Access "ALL"

      -Name "showCycleTime" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "45"\
      -Access "All"

      -Name "showPVcmts" -SignalType "DO" -Unit "FAKE_BOARD" -UnitMap "46"\
      -Access "All"
#
EIO_CROSS:

      -Res "DOF_InPosition1" -Act1 "DI_Feeder1InPosition"

      -Res "DO_RunFeeder1" -Act1 "DOF_RunFeeder1"

      -Res "DOF_InPosition2" -Act1 "DI_Feeder2InPosition"

      -Res "DO_RunFeeder2" -Act1 "DOF_RunFeeder2"

      -Res "LoaderOut" -Act1 "DOF_LoaderOut"

      -Res "TempStart" -Act1 "SetTempStart"

      -Res "DOF_EntryRequest" -Act1 "EntryRequest"
#
EIO_COMMAND_TYPE:

      -Name "DataWidth" -UnitType "d351B" -DefValue "3" -OrderNr 1\
      -DN_Path "6,20 65 24 01 30 01,C6,1" -DN_Service 16

      -Name "D351Areset" -UnitType "d351B" -DefValue "0" -OrderNr 2\
      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5

      -Name "StationNo" -UnitType "d378A" -DefValue "1" -OrderNr 1\
      -DN_Path "6,20 68 24 01 30 01,C6,1" -DN_Service 16

      -Name "BaudRate" -UnitType "d378A" -DefValue "0" -OrderNr 2\
      -DN_Path "6,20 68 24 01 30 02,C6,1" -DN_Service 16

      -Name "OccStat" -UnitType "d378A" -DefValue "1" -OrderNr 3\
      -DN_Path "6,20 68 24 01 30 03,C6,1" -DN_Service 16

      -Name "BasicIO" -UnitType "d378A" -DefValue "0" -OrderNr 4\
      -DN_Path "6,20 68 24 01 30 04,C1,1" -DN_Service 16

      -Name "D378Areset" -UnitType "d378A" -DefValue "0" -OrderNr 5\
      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5
#
EIO_ACCESS:

      -Name "All" -Rapid  -LocalManual  -LocalAuto  -RemoteManual  -RemoteAuto 
#
SYSSIG_OUT:

      -Status "MotSupTrigg" -Signal "DOF_MotSupTrigg"

      -Status "Error" -Signal "DOF_Error"

      -Status "CycleOn" -Signal "DOF_CycleOn"

      -Status "AutoOn" -Signal "DOF_AutoOn"

      -Status "RunchOk" -Signal "DOF_EmergencyStop"

      -Status "AutoOn" -Signal "sdoAutoOn"

      -Status "Blocked I/O" -Signal "sdoSimulatedIO"

      -Status "CycleOn" -Signal "sdoCycleOn"

      -Status "EmStop" -Signal "sdoEMStop"

      -Status "Error" -Signal "sdoExecError" -Arg2 "T_ROB1"

      -Status "MotOffState" -Signal "sdoMotorOffState"

      -Status "MotOnState" -Signal "sdoMotorOnState"

      -Status "MotorOff" -Signal "sdoMotorOff"

      -Status "MotorOn" -Signal "sdoMotorOn"

      -Status "MotSupOn" -Signal "sdoMotionSupOn" -Arg1 "ROB_1"

      -Status "MotSupTrigg" -Signal "sdoMotionSupTrig" -Arg1 "ROB_1"

      -Status "PFError" -Signal "sdoPowerFail"

      -Status "RegainDistError" -Signal "sdoPathReturnError" -Arg1 "ROB_1"

      -Status "RunchOk" -Signal "sdoRunChainOk"

      -Status "MechUnit Active" -Signal "sdoMechanicActive" -Arg1 "ROB_1"

      -Status "TaskExecuting" -Signal "sdoTaskExecuting" -Arg2 "T_ROB1"

      -Status "MechUnitNotMoving" -Signal "sdoMechanicNotMoving" -Arg1 "ROB_1"

      -Status "ProdExecError" -Signal "sdoProductionError"
#
SYSSIG_IN:

      -Signal "DOF_ResetEStop" -Action "ResetEstop"

      -Signal "DOF_MotorsOn" -Action "MotorOn"

      -Signal "DOF_StartAtMain" -Action "StartMain" -Arg1 "CONT"

      -Signal "DOF_StopEndInstr" -Action "StopInstr"

      -Signal "DOF_MotOnStart" -Action "MotOnStart" -Arg1 "CONT"
